extends ../core/template.pug

block headExtra
	title=global.formatTitle(['Games', 'Serverless chess'])
	meta(name='description', content='Serverless chess')
	script(src='https://assets.weastie.com/scripts/games/chess/graphics.js')
	script(src='https://assets.weastie.com/scripts/games/chess/chess.js')
	script(src='https://assets.weastie.com/scripts/games/chess/main.js')
	style.
		body {
			font-family: Arial;
		}
		#game {
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		#canvas {
			display: inline-block;
		}
		#sidePanel {
			display: inline-block;
			border: 1px solid black;
			vertical-align: top;
			text-align: left;
		}
		#sidePanelBody {
			display: block;
			border-bottom: 1px solid black;
			padding: 0px 3px;
			overflow-y: scroll;
		}
		#sidePanelInput {
			display: block;
			/* border: 1px solid black; */
			padding: 3px;
		}
		.legal_move {
			border: 1px solid black;
			border-radius: 3px;
			padding: 5px;
			margin: 3px;
			background-color: #45547a;
			color: white;
			cursor: pointer;
		}
		.legal_move:hover {
			background-color: #556a9e;
		}
		.move_item {
			border: 1px solid black;
			margin: 0px 3px 2px 3px;
			border-radius: 3px;
			padding: 3px;
			font-size: 0.8em;
			display: inline-block;
		}
		#rejoinGameBtn {
			display: block;
			margin-bottom: 10px;
		}
		#createGameDiv {
			display: block;
			padding-bottom: 20px;
			border-bottom: 2px dashed black;
		}
		#joinGameDiv {
			padding-top: 20px;
			display: block;
		}
		#moveTextInput {
			width: 50px
		}
		
block content
	h1.centerText Serverless Chess
	p#status Loading...
	div#game(style='display: none')
		br
		div#enterGameDiv.styledForm
			input#rejoinGameBtn(type='button' value='Rejoin Game').btn.btnYellow.btnRaised.hidden.centerBlock
			label(for='nicknameInput') Nickname: 
			input#nicknameInput(type='text' placeholder='Nickname')
			br
			div#createGameDiv
				h3 Create game
				input#createGameBtn(type='button' value='Create Game').btn.btnBlue.btnRaised
			div#joinGameDiv
				h3 Join Game
				input#joinGameCode(type='text' placeholder='Game Code' autocomplete='off')
				input#joinGameBtn(type='button' value='Join Game').btn.btnRed.btnRaised
		div#waitGameDiv(style='display: none')
			h3
				| Game code: 
				span#gameCodeDisplay
			p Waiting for opponent...
		div#playGameDiv(style='display: none')
			h3#opponentNameDisplay Opponent Name...
			canvas#canvas
			div#sidePanel
				div#sidePanelBody
					h3 Moves
					div#movesLog
					hr
					h3 Messages
					div#messageLog
				div#sidePanelInput.styledForm
					input#chatInput(type='text' placeholder='Chat...')
					input#chatButton(type='button' value='Send').btn.btnBlue.btnRaised
			h3#myNameDisplay My Name...
			div.styledForm
				label(for='moveTextInput') Enter a move:&nbsp;
				input(type='text' placeholder='e4')#moveTextInput
				input(type='button' value='Move')#moveTextButton.btn.btnRaised.btnRed
			div#legal_moves
	hr
	p View the blog about serverless chess #[a(href='https://weastie.com/blog/YZxPm/Serverless_Chess_-_Discussion_and_Analyis') here]
	p Check out the source code for the backend on #[a(href='https://gitlab.com/weastie/serverless-chess') Gitlab]
			
			
			
