extends /core/template.pug

block headExtra
	title=global.formatTitle('Home')

block content
	h2 Ryan "Weastie" Weast
	p Bass player, cloud nerd, full stack developer, lizard lover. PSU Comp Sci '22
	hr
	p.
		Welcome to my website. I don't do a whole lot here but you can find a few
		blogs and some projects I've worked on.

	p About me:
	ul
		li.
			I started programming back in eighth grade when I made basic PHP websites
			and calculators for my science class. Throughout highschool, I got accustomed to more
			modern frameworks and backends such as Node.js and express, as well as doing non-web
			programming with Python and Java. About halfway through highschool, I became enthralled
			with hacking competitions known as CTFs, where my knowledge of web development allowed me
			to quickly succeed in the category of web security. My competitive hacking team performed well,
			with our greatest accomplishment being a 2nd place finish in PicoCTF 2019 out of over 13,000 
			teams across the country. In college, I became captivated by cloud architecture and development,
			mostly thanks to my internship at Lockheed Martin where I wrote cloud based tools to help
			automate our systems.
		li I play bass guitar for a local State College band called "No Thanks"
			ul
				li.
					None of our songs have been professionally recorded, but you can listen to a
					phone quality recording of #[a(href='https://drive.google.com/file/d/11Ih3jokW_55CynMPzUMAC0yVWjnThZng/view?usp=sharing') Dating Game],
					a song about the Dating Game serial killer, and #[a(href='https://drive.google.com/file/d/1xJA31AyWQdM0fPvawXmVWs_TXYfXJlp1/view?usp=sharing') Hedera's flowers],
					a song about an invasive ivy taking over the world!
		li I have two pet lizards, a leopard gecko named Gizz and a blue tongue skink named Cake.
		li I can ride a unicycle!
	a(href='#', onclick='this.innerHTML="ry"+"weas"+"t@gm"+"ail.com"') Click here for my email
	br
	a(href='https://gitlab.com/weastie')
		img(src='https://assets.weastie.com/img/gitlab-logo-gray-stacked-rgb-small.png', width='48px')
	a(href='https://www.youtube.com/channel/UCsA9BVmiT0sG4d6cwBzpM6Q')
		img(src='https://assets.weastie.com/img/youtube_social_icon_red.png', width='48px')
