extends /core/template.pug

block headExtra
	title=global.formatTitle('Blogs')
	style.
		.blogDiv {
			border: 1px solid darkblue;
			border-radius: 10px;
			padding: 20px;
			margin: 15px 0px;
		}
		.blogDiv .title {
			font-size: 1.2em;
		}

block content
	h1 Blogs
	if filter
		span Filtering tag:
			a(href=('/blogs/' + filter), class=('tag ' + 'tag-' + filter)).btnRaised=filter
			a(href='/blogs/') (remove)
	each blog in blogs
		div.blogDiv
			a(href=('/blog/' + blog.id + '/' + global.stringToPageTitle(blog.title))).title!=blog.title
			- tags = blog.tags ? blog.tags.split(',') : []
			each tag in tags
				a(href=('/blogs/' + tag), class=('tag ' + 'tag-' + tag)).btnRaised=tag
			br
			span.formatDate.dateGrey!=blog.date
