extends ../core/template.pug

block headExtra
	title=global.formatTitle(['Music Tools', 'Fretboard Explorer'])
	meta(name='description', content='Fretboard Explorer for learning scales, intervals, and quizzing yourself')
	script(src='https://assets.weastie.com/scripts/music_tools/fretboard.js')
	style.
		#panel {
			border: 1px solid black;
			width: 800px;
			padding-left: 5px;
			padding-bottom: 15px;
			margin-bottom: 50px;
		}
		.panelOptions ul {
			margin: 0px;
			margin-left: -5px;
			padding: 0px;
			display: table;
			table-layout: fixed;
			width: 805px;
		}
		.panelOptions ul li {
			border: 1px solid black;
			display: table-cell;
			width: auto;
			text-align: center;
			list-style-type: none;
		}
		.panelOptions ul li a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			color: black;
		}
		.panelOptions ul li a:hover {
			background-color: lightgrey;
		}
		.panelOptions ul li a.selected {
			background-color: lightgrey;
		}
		.quizNoteBtn {
			text-transform: none;
		}
block content
	h1 Fretboard Explorer and Quiz
	div.container
		canvas#canvas
		div#panel.styledForm
			div.panelOptions
				ul
					li
						a(href='#', for='panel-instrument').panel-button.selected Instrument
					li
						a(href='#', for='panel-discovery').panel-button Discovery
					li
						a(href='#', for='panel-quiz').panel-button Quiz
			div#panel-instrument.panel-page
				h3 Instrument options
				label(for='instruPreset') Choose a preset: 
				select#instruPreset
					option(value='bass') Bass
					option(value='guitar') Guitar
					option(value='ukelele') Ukelele
				br
				label(for='instruFrets') Number of frets (to show): 
				input(type='number', value='20')#instruFrets
				br
				label(for='instruStrings') Number of strings: 
				input(type='number', value='4')#instruStrings
				br
				label(for='instruTunings') String tunings: 
				input(type='text', value='E,A,G,D')#instruTunings
				span(style='color: blue').smallText &nbsp;(comma separated, uppercase, append 'b' for flat or '#' for sharp)
				br
				label(for='instruMarkings') (Optional) Fret markings: 
				input(type='text', value='3,5,7,9,12,15,17,19')#instruMarkings
				span(style='color: blue').smallText &nbsp;(comma separated, fret 12 is made into double mark)
			div#panel-discovery.panel-page.hidden
				h3 Discovery
				label(for='discoEnable') Enable discovery mode: 
				input(type='checkbox')#discoEnable
				br
				label(for='discoRoot') Root note: 
				input(type='text', value='C', columns='1', maxlength='2', size='1')#discoRoot
				span(style='color: blue').smallText &nbsp;(uppercase, append 'b' for flat or '#' for sharp)
				br
				label(for='discoScale') Scale/Mode: 
				select#discoScale
					option(value='major') Major
					option(value='minor') Minor
					option(value='minor_harmonic') Harmonic Minor
					option(value='minor_melodic') Melodic Minor
					option(value='ionian') Ionian
					option(value='dorian') Dorian
					option(value='phrygian') Phrygian
					option(value='lydian') Lydian
					option(value='mixolydian') Mixolydian
					option(value='aeolian') Aeolian
					option(value='locrian') Locrian
				hr
				p Scale intervals:
				input(type='checkbox', checked)#scaleInt1.scaleInt
				label(for='scaleInt1') Root
				br
				input(type='checkbox', checked)#scaleInt2.scaleInt
				label(for='scaleInt2') 2nd
				br
				input(type='checkbox', checked)#scaleInt3.scaleInt
				label(for='scaleInt3') 3rd
				br
				input(type='checkbox', checked)#scaleInt4.scaleInt
				label(for='scaleInt4') 4th
				br
				input(type='checkbox', checked)#scaleInt5.scaleInt
				label(for='scaleInt5') 5th
				br
				input(type='checkbox', checked)#scaleInt6.scaleInt
				label(for='scaleInt6') 6th
				br
				input(type='checkbox', checked)#scaleInt7.scaleInt
				label(for='scaleInt7') 7th
			div#panel-quiz.panel-page.hidden
				h3 Quiz
				div#panel-results.hidden
					p#results
					p(style='color: blue')#results-score Score: 0/0
					hr
				div#quizOptions
					p Question types:
					input(type='checkbox', checked)#quizNote
					label(for='quizNote') What note is this?
					br
					input(type='checkbox')#quizKey
					label(for='quizKey') Is this note in key?
					br
					input(type='button', value='Start Quiz')#quizStart.btn.btnRed
				div#quizNotePanel.hidden
					p What note is this?
					table
						tr
							td
								input(type='button', value='A').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='A#').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='B').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='C').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='C#').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='D').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='D#').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='E').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='F').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='F#').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='G').quizNoteBtn.btn.btnBlue
							td
								input(type='button', value='G#').quizNoteBtn.btn.btnBlue
						tr
							td
							td
								input(type='button', value='Bb').quizNoteBtn.btn.btnBlue
							td
							td
							td
								input(type='button', value='Db').quizNoteBtn.btn.btnBlue
							td
							td
								input(type='button', value='Eb').quizNoteBtn.btn.btnBlue
							td
							td
							td
								input(type='button', value='Gb').quizNoteBtn.btn.btnBlue
							td
							td
								input(type='button', value='Ab').quizNoteBtn.btn.btnBlue
				div#quizKeyPanel.hidden
					p
						| Is this note in the key of&nbsp;
						span#quizKeyDesc
						| ?
					input(type='button', value='Yes').btn.btnBlue.quizKeyBtn
					input(type='button', value='No').btn.btnRed.quizKeyBtn

				
				
			
			
			
			
