extends ../core/template.pug

block headExtra
	title=global.formatTitle('Music Tools')
	meta(name='description', content='Some useful tools for music theory')
	style.
		.toolDiv {
			border: 1px solid darkblue;
			border-radius: 10px;
			padding: 20px;
			margin: 15px 0px;
		}
		.toolDiv a {
			font-size: 1.2em;
		}

block content
	h1 Music Tools
	div.toolDiv
		a(href='/music_tools/fretboard') Fretboard Explorer and Quiz
		br
		span.dateGrey Explore notes and scales on the fretboard, highly configurable, quiz your knowledge.
