extends template.pug

block headExtra
  if error
    title=global.formatTitle('Error')
  else
    title=global.formatTitle('Success')

block content
  if error
    h1 Error
  else
    h1 Success
  p=text
