doctype html

html
	head
		meta(name='viewport',content='width=device-width,initial-scale=1')
		meta(charset='UTF-8')
		meta(name='author', content='Weastie')
		link(rel="icon",href="https://assets.weastie.com/img/favicon.ico",type="image/x-icon")
		script(src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous")
		link(rel='stylesheet',href='https://assets.weastie.com/css/main.css')
		script(src='https://assets.weastie.com/scripts/body.js')
		block headExtra
	body
		//- Drawer is hidden by default. Otherwise it shows up for a few milliseconds
		div#mainDrawer.drawer.hidden
			ul
				li
					a(href='/blogs') Blog
				li
					a(href='/projects') Projects
		div#body
			div#mainNavBar.navBar
				div.container
					div
						ul
							li
								a(href='#',data-for='mainDrawer').drawerBtn
									span.drawerBtnBar
									span.drawerBtnBar
									span.drawerBtnBar
							li
								a(href='/')
									span Home
					div.bigOnly
						ul
							li
								a(href='/blogs') Blog
							li
								a(href='/projects') Projects
										
			div.container.contentBody
				span(data-alerts=(JSON.stringify(alerts)))#serverAlerts.hidden
				div#alertsDiv
				block content
