extends ../core/template.pug

block headExtra
	title=global.formatTitle('Projects')
	meta(name='description', content='Projects made by Weastie')
	style.
		.toolDiv {
			border: 1px solid darkblue;
			border-radius: 10px;
			padding: 20px;
			margin: 15px 0px;
		}
		.toolDiv a {
			font-size: 1.2em;
		}

block content
	h1 On-site Projects
	h2 Games
	div.toolDiv
		a(href='/games/chess') Serverless Chess
		br
		span.dateGrey Play a serverless implementation of chess with a friend.
	h2 Music Tools
	div.toolDiv
		a(href='/music_tools/fretboard') Fretboard Explorer and Quiz
		br
		span.dateGrey Explore notes and scales on the fretboard, highly configurable, quiz your knowledge.
	h2 Hack Tools
	div.toolDiv
		a(href='/hack_tools/listener') HTTP Request Listener
		br
		span.dateGrey Listens and logs HTTP requests at a specified URL, useful for XSS.
	div.toolDiv
		a(href='/hack_tools/converter') Base Converter
		br
		span.dateGrey Converts between multiple bases, including ascii, base64, hex, etc.
	div.toolDiv
		a(href='/hack_tools/html') HTML Page Upload
		br
		span.dateGrey Hosts a temporary HTML page. Useful for CSRF, XS-Search, etc.
	h1 Off-site Projects
	div.toolDiv
		a(href='https://uncleelis.net/') Uncle Eli's Website
		br
		span.dateGrey Website for Uncle Eli's art shop in State College
