extends /core/template.pug

block headExtra
	title=global.formatTitle(['Admin', 'Home'])

block content
	h2 Admin Home
	ul
		li
			a(href='/admin/create_blog') Create blog
		li
			a(href='/admin/deleted_blogs') View deleted blogs
	p Unimplemented:
	ul
		li
			a(href='/admin/upload_img') Upload image
