.shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
.shadow-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12) !important;
}
.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2) !important;
}
.shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
}
.shadow-8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}
.shadow-16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.shadow-24dp {
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2) !important;
}
.rotateUp {
  animation: rotateUp 0.35s ease-in-out forwards;
}
.rotateDown {
  animation: rotateDown 0.35s ease-in-out forwards;
}
.appear {
  animation: appear 0.35s ease-in-out forwards;
}
.hide {
  animation: hide 0.35s ease-in-out forwards;
}
.fadeOutHalf {
  animation: fadeOutHalf 0.25s ease-in-out forwards;
}
.fadeIn {
  animation: fadeIn 0.25s ease-in-out forwards;
}
body {
  transition: background-color 0.25s ease-in-out;
}
#body {
  transition: opacity 0.25s ease-in-out;
}
.drawer {
  transition: transform 0.25s ease-in-out;
}
@keyframes rotateUp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotateDown {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes drawerAppear {
  0% {
    margin-left: -300px;
    visibility: hidden;
  }
  100% {
    margin-left: 0px;
    visibility: visible;
  }
}
@keyframes drawerHide {
  0% {
    margin-left: 0px;
    visibility: visible;
  }
  100% {
    margin-left: -300px;
    visibility: hidden;
  }
}
@keyframes fadeOutHalf {
  0% {
    opacity: 1;
  }
  0.1% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  99.9% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toBlack {
  0% {
    background-color: white;
  }
  100% {
    background-color: #424242;
  }
}
.btn {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-size: 0.9em;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn:hover {
  cursor: pointer;
  text-decoration: none;
}
.btnRaised {
  transition: box-shadow 1.5s cubic-bezier(0.1, 1, 0.9, 0.8);
}
/*.btn-raised:hover {
  box-shadow:0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2)
}*/
.btnPlus {
  font-family: monospace;
  font-size: 20px;
  line-height: 0;
  text-align: center;
  padding: 0px;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 1px solid #ccc;
}
.btnBlue {
  border: 1px solid #0C58B3;
  color: white;
  background-color: #0C58B3;
}
.btnBlue:hover {
  background-color: #3c70f5;
}
.btnRed {
  border: 1px solid #c30808;
  color: white;
  background-color: #c30808;
}
.btnRed:hover {
  background-color: #be0e0e;
}
.btnYellow {
  border: 1px solid #cedf0b;
  color: white;
  background-color: #cedf0b;
}
.btnYellow:hover {
  background-color: #c7c50f;
}
.btnWhite {
  border: 1px solid #ccc;
  color: #222;
  background-color: #ccc;
}
.btnWhite:hover {
  background-color: #eee;
}
.dropdown img {
  opacity: 0.87;
  margin-left: 6px;
  width: 10px;
  height: 10px;
  transform-origin: center;
}
.dropdownMenu {
  position: absolute;
  background-color: #f0f0f0 !important;
  border: 1px solid #666;
  border-top-width: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1px 13px 6px 13px !important;
}
.dropdownMenu li {
  float: none !important;
}
.dropdownMenu li a {
  font-size: 0.85em;
  padding: 5px !important;
  color: black !important;
  background-color: transparent !important;
}
.dropdownMenu li:not(.dropdownMenu-header) a {
  text-align: left !important;
}
.dropdownMenu .dropdownMenu-header a {
  border-bottom: 1px dashed #666;
  text-align: center !important;
}
.dropdownMenu li a:hover {
  background-color: none !important;
  color: #555 !important;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: white;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 38px;
  font-weight: lighter;
  margin: 13px auto 20px auto;
}
h2 {
  font-size: 28px;
  font-weight: lighter;
  margin: 12px auto 17px auto;
}
h3 {
  font-size: 25px;
  font-weight: lighter;
  margin: 11px auto 16px auto;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 10px;
}
hr {
  border: 1px solid;
  border-color: grey;
  margin: 20px 0px;
  display: block;
}
/*
* New classes
*/
.hidden {
  display: none !important;
}
.floatLeft {
  float: left !important;
}
.floatRight {
  float: right !important;
}
.centerBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centerText {
  text-align: center;
}
.centerChildren {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.smallText {
  font-size: 0.85em;
}
.biggerText {
  font-size: 1.15em;
}
.contentBody {
  margin-top: 80px;
}
.container-full {
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 760px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 970px) {
  .container {
    width: 880px;
  }
}
@media (min-width: 1250px) {
  .container {
    width: 1050px;
  }
}
@media (min-width: 1550px) {
  .container {
    width: 1250px;
  }
}
.smallOnly {
  display: none;
}
.bigOnly {
  display: block;
}
@media (max-width: 759px) {
  .smallOnly {
    display: block;
  }
  .bigOnly {
    display: none;
  }
}
.dateGrey {
  color: grey;
  font-style: italic;
  font-size: 0.85em;
}
.tag {
  border: 0px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 7px;
  background-color: #9f9f9f;
  color: white;
  text-decoration: none !important;
}
.tag-ctf {
  background-color: #2c9e04;
}
.tag-writeup {
  background-color: #006bc3;
}
.tag-fluff {
  background-color: #6700eb;
}
.tag-guide {
  background-color: #dec800;
}
.tag-web {
  background-color: #fc9f12;
}
.tag-cloud {
  background-color: #0ad7e3;
}
.tag-aws {
  background-color: #ec912d;
}
.styledForm select {
  cursor: pointer;
  /*appearance: none;
  -webkit-appearance:none;
  -moz-appearance:none;*/
  background-color: white;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 0.9em;
  width: 220px;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 2px;
}
.styledForm .header {
  display: block;
  margin-top: 20px;
  font-size: 1.3em;
}
.styledForm .verticalLabel {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: lighter;
}
.styledForm input[type=text],
.styledForm input[type=password],
.styledForm input[type=date],
.styledForm input[type=email],
.styledForm input[type=time] {
  width: 220px;
  height: 32px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 3px;
  padding-left: 5px;
  font-size: 0.9em;
}
.styledForm textarea {
  background-color: white;
  border: 1px solid #999;
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 2px;
  width: 220px;
}
.styledForm br {
  margin: 0px 0px 20px 0px;
}
.styledForm input[type=text]:focus,
.styledForm input[type=password]:focus,
.styledForm input[type=date]:focus,
.styledForm input[type=email]:focus,
.styledForm input[type=time]:focus,
.styledForm textarea:focus {
  border-color: #0000ff;
}
.styledForm .tabbedFormBlock {
  display: block;
  margin-left: 20px;
}
.styledForm .blockInput {
  margin-bottom: 5px;
  display: block;
}
.styledForm input[type=radio] {
  display: inline-block;
}
.styledForm .radio-container:last-child {
  margin-bottom: 15px;
}
.styledForm .formBlock {
  display: block;
}
.styledForm .formError {
  border-color: red !important;
}
.styledForm .errorLabel {
  vertical-align: middle;
  display: inline-block;
  cursor: default;
  position: absolute;
  color: white;
  font-size: 0.8em;
  background-color: #e65353;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid darkred;
  max-width: 165px;
  margin-left: 5px;
}
.navBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #07214a;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 0px;
  margin: 0px;
}
.navBar ul {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.navBar ul li {
  float: left;
}
.navBar.collapsed ul li {
  float: none !important;
}
.navBar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 22px 16px;
  text-align: center;
}
.navBar.collapsed ul li a {
  padding: 20px 10px !important;
  border-bottom: 1px solid #083974;
  text-align: left !important;
}
.navBar ul li a:hover {
  background-color: #0f3eb6;
}
.navbar ul li .active {
  background-color: #0f3eb6;
}
.navbar ul li .navBarRight {
  float: right !important;
}
.drawerBtn {
  margin-top: 16px;
  margin-right: 12px;
  display: block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 7px !important;
  /*overflow: hidden;*/
}
.drawerBtnBar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 4px;
}
.drawer {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  z-index: 99999;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.drawer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.drawer ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
  /*width: 100%;*/
}
.drawer ul li a:hover {
  background-color: #666;
  color: white;
}
.tooltip {
  display: inline-block;
  font-family: monospace;
  margin-left: 4px;
  color: #8e6406;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip:hover > div {
  display: block;
}
.tooltip div {
  cursor: default;
  position: absolute;
  color: black;
  font-size: 0.9em;
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;
  width: 150px;
  margin-left: 27px;
  margin-top: -10px;
}
.alert {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 5px;
  height: 40px;
  line-height: 40px;
}
.alert.error {
  background-color: #e67d7d;
}
.alert.success {
  background-color: #9fd491;
}
.alert a {
  font-size: 1.7em;
  float: right;
}
