extends /core/template.pug

block headExtra
  title=global.formatTitle(['Hack Tools', 'HTML'])
  script(src='https://www.google.com/recaptcha/api.js')

block content
  h1 HTML Uploader
  p.
    Use this page to upload a basic HTML page, fully customizable and
    javascriptable. This may simply help with a CSRF attack, or, it
    can be cleverly scripted and combined with the HTTP request
    listener to perform a full on serverless XS-Search. The page
    will last for 48 hours and you may only upload a maximum of
    50kb of data for the page.
  form(action='/hack_tools/create_html', method='POST').styledForm
    textarea(name='content')
    br
    div(class="g-recaptcha", data-sitekey="6Lca_GUUAAAAABLWyyHAjPS-sYZRBPWVy3YGbx9f")
    input(type='submit', value='Create the page').btn.btnRed.btnRaised
